@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  img,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
}

:root {
  --white_color: #ffffff;
  --white_secondary_color: #f5f5f5;
  --white_FEFAF1: #fefaf1;
  --white_text_color: #fafafa;
  --gray_text_color: #787c7f;
  --black_text_color: #000000;
  --black_color: #000000;
  --orange_color: #db4444;
  --green_color: #00ff66;
  --hover_color: #e07575;
  --blue_hover_color: #a0bce0;
  --border_color: #b3b3b3;
  --Poppins: 'Poppins', sans-serif;
  --Inter: 'Inter', sans-serif;
}

@layer components {
  .navHover {
    position: relative;
  }
  .navHover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: ' ';
    height: 2px;
    width: 100%;
    background-color: var(--border_color);
    transform: scale(0);
    transition: all linear .4s;
  }

  .navHover:hover::after {
    transform: scale(1);
  }

  .amount{
    
  }

}
